/* 
    my color:
        gas giant #181D31
        aqua-velvet #00A19D
        country-diary #F0E9D2
*/

* {
    margin: 0;
    padding: 0;
}

.nav-logo {
    width: 50px;
    height: 55px;
}

.bg-gas-giant {
    background-color: #181D31;
    color: #F0E9D2;
}

.jumbotron {
    height: 110vh;
    background-image: url("../images/rektorat.jpg");
    background-position-x: -695px;
    background-position-y: -80px;
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* margin-top: 80px; */
    animation: jumbo-bg-anim 2s linear;
}

@keyframes jumbo-bg-anim {
    /* 0% {padding-top: 80px;}
    50% {padding-top: 100px;}
    100% {padding-top: 80px;} */
    0% {background-position-y: -80px;}
    50% {background-position-y: -100px;}
    100% {background-position-y: -80px;}
}

.text-gas-giant {
    color: rgb(24, 29, 49);
}

.btn-gas-giant {
    border: 2px solid #181D31;
    /* color: #fff; */
    font-weight: bolder;
}

.btn-gas-giant:hover {
    background-color: #181D31;
    color: #fff;
}

.navbar-brand h5 {
    letter-spacing: 1px;
}

.nav-item a {
    letter-spacing: 0.5px;
}

.jumbotron h1{
    font-size: 55pt;
    padding-top: 150px;
    animation: pull-down 2s linear;
}

.jumbotron h1, .jumbotron h4{
    transform: translateY(20px);
}

@keyframes pull-down {
    0% {padding-top: 150px;}
    50% {padding-top: 160px;}
    100% {padding-top: 150px;}
}

.wave-1 {
    transform: translateY(180px);
    /* position: absolute; */
}

.wave-2 {
    transform: translateY(90px);
}

.greets-sect, 
.about-sect,
.news-sect {
    position: relative;
    /* height: 95vh; */
    /* border: 4px solid #000; */
}

.greets-sect h5,
.news-sect h5{
    color: #181D31;
    animation: greet-wrd 2s linear;
}

.greets-sect p, 
.about-sect p,
.news-sect p {
    text-align: justify;
}

.greets-sect img,
.news-sect img{
    width: 120%;
    height: auto;
}

footer {
    /* background-image: linear-gradient(
        rgba(24, 29, 49, 0.85),
        rgba(24, 29, 49, 0.85)),
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1039%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c267 C 22.2%2c220.8 66.6%2c36.4 111%2c36 C 155.4%2c35.6 177.6%2c245.6 222%2c265 C 266.4%2c284.4 288.6%2c147.2 333%2c133 C 377.4%2c118.8 399.6%2c193.8 444%2c194 C 488.4%2c194.2 510.6%2c144.6 555%2c134 C 599.4%2c123.4 621.6%2c161.2 666%2c141 C 710.4%2c120.8 732.6%2c28.6 777%2c33 C 821.4%2c37.4 843.6%2c144 888%2c163 C 932.4%2c182 954.6%2c126.6 999%2c128 C 1043.4%2c129.4 1065.6%2c171 1110%2c170 C 1154.4%2c169 1176.6%2c107.2 1221%2c123 C 1265.4%2c138.8 1288.2%2c259.2 1332%2c249 C 1375.8%2c238.8 1418.4%2c107.4 1440%2c72L1440 560L0 560z' fill='rgba(39%2c 47%2c 81%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c549 C 72%2c507 216%2c356.8 360%2c339 C 504%2c321.2 576%2c456.6 720%2c460 C 864%2c463.4 936%2c363 1080%2c356 C 1224%2c349 1368%2c411.2 1440%2c425L1440 560L0 560z' fill='rgba(24%2c 29%2c 49%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1039'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
    background-color: #181D31;    
    background-position-y: -300px;
    background-attachment: fixed;
    position: relative;
    color: #fff;
}

a {
    text-decoration: none;
}

.facebook a {
    color: #fff;
}

.link-chain {
    display: none;
}

.link-chain:hover {
    display: block;
}

.about-sect h2 {
    color: #F0E9D2;
} 
.news-sect h2 {
    color: #000;
}

.facebook:hover a, .facebook:hover svg{
    color: #4267B2;
}

footer .col-md-4 p {
    font-size: 10pt;
}

.container-fluid.jumbotron,
.container-fluid.greets-sect,
.container-fluid.about-sect,
.container-fluid.news-sect{
    padding-top: 100px;
    margin-top: 300px;
}

.news-sect img {
    box-shadow:
  1.3px 1.5px 2.7px rgba(0, 0, 0, 0.022),
  3.3px 3.9px 6.9px rgba(0, 0, 0, 0.031),
  6.7px 8px 14.2px rgba(0, 0, 0, 0.039),
  13.9px 16.4px 29.2px rgba(0, 0, 0, 0.048),
  38px 45px 80px rgba(0, 0, 0, 0.07)
;
}